header {
    display: flex;
    justify-content: space-between;
    margin: 36px 60px;
    color: #C7C7C7; /*main text color*/
}

.label-container {
}

.label {
    font-family: "Bebas Neue", sans-serif;
    font-size: 32px;
}

.nav-container {
    display: flex;
    gap: 32px;

}
