header {
    display: flex;
    justify-content: space-between;
    margin: 36px 60px;
    color: #C7C7C7; /*main text color*/
}

.label-container {
}

.label {
    font-family: "Bebas Neue", sans-serif;
    font-size: 32px;
}

.nav-container {
    display: flex;
    gap: 32px;

}

@media (max-width: 1024px) {

    header {
        display: flex;
        justify-content: space-between;
        margin: 24px 16px;
        color: #C7C7C7; /*main text color*/
    }
    .label{
        font-size: 16px;
        text-wrap: nowrap;
    }
    .nav-container {
        display: flex;
        gap: 8px;

    }



}