.ContactForm {
    width: 600px;
    height: 600px;
}

.input-box {

}

.field{
    border: none;
    border-radius: 4px;
    background-color: #1A1A1A;
    display: flex;
    width: 100%;
    height: 51px;
    padding: 10px;
    font-size: 16px;
}
.field-large{
    height: 150px;
    resize: none;
    padding: 10px;
    font-size: 16px;
}

.footer-submit-container{
    margin-top: 50px;
}