*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#0A0A0A ;
    color: #C7C7C7;
}


.body-small {
    font-family: "Manrope", sans-serif;
    font-size: 16px;

}
.body-medium {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInRight {
    to {
        opacity: 1;
        transform: translateX(0); /* возвращаем в нормальное положение */
    }
}