.footer {
    border-top: #ffffff solid 2px;
    display: flex;
    justify-content: center;

}

.footer-nav-container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;

}

.footer-container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}

.footer-label {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-size: 76px;
}
.footer-sayHello{
    font-family: "Manrope", sans-serif;
    font-weight: 100;
    font-size: 18px;
    margin-bottom: 8px;
}
.underscore-p{
    text-decoration: underline;
    text-decoration-color: #D3E97A;
}